.rhap_container {
  background: #333;
}
.rhap_main-controls-button,
.rhap_volume-button {
  color: #ffffff;
  font-size: 20px;
}
.rhap_volume-container {
  flex: 0 1 200px;
}
.rhap_volume-indicator {
  background: #ffffff;
  opacity: 1;
  width: 16px;
  height: 16px;
  top: -6px;
  margin-left: -8px;
}
.rhap_time {
  color: #ffffff;
}
.rhap_progress-indicator,
.rhap_download-progress,
.rhap_volume-bar,
.rhap_progress-bar-show-download {
  background: #ffffff;
}

.rhap_progress-bar {
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}
.rhap_progress-indicator {
  background: #176ca7;
  opacity: 1;
  width: 16px;
  height: 16px;
  top: 2px;
  box-shadow: none;
}
.rhap_progress-filled {
  height: 16px;
  background: #176ca7;
  border-radius: 8px;
  top: 2px;
  margin-left: 2px;
}
.rhap_progress-container {
  margin: 0 15px;
}
