/* css for X close button, taken from react-bootstrap */
.btn-close {
  background: transparent
    url('https://cdn-icons-png.flaticon.com/512/75/75519.png') 50%/1em auto
    no-repeat;
  border-width: 0px;
}

.blueStyle .btn-close {
  filter: invert(100%);
}

.blueStyle {
  background: #2e5274;
  border-width: 0px;
  color: white;
}
